/*
Add styles or override variables from the theme here.
*/
$primary: rgb(32, 112, 222) !default;
$secondary: rgb(32, 112, 222) !default;
$light: rgb(255, 255, 255) !default;
$grey: rgb(41, 86, 120) !default;
$orange: $secondary;
$td-sidebar-tree-root-color: #222 !default;

$td-enable-google-fonts: false;
$enable-shadows: false;

.showcase img {
  margin: 0 30px;
}

#cover-title {
  max-width: 800px;
}

/*
Custom Classes
*/

figure.ccfigure {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  text-align: center;
}

figure.ccfigure > figcaption > p {
  border-top: 1px solid gray;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  text-align: left;
}

figure.mw-xl > img {
  max-width: 992px;
}

/* 224px less */
figure.mw-lg > img {
  max-width: 768px;
}

/* 192px less */
figure.mw-md > img {
  max-width: 576px;
}

/* 96px less */
figure.mw-sm > img {
  max-width: 480px;
}

/* 96px less */
figure.mw-xs > img {
  max-width: 384px;
}

/* 48px less */
figure.mw-xxs > img {
  max-width: 336px;
}

.nav-link {
  margin-right: 20px !important;
}
